.column {
  width: 300px;
  float:left;
  padding: 3px;
}

.column h3 {
  color: red;
  font-family: fantasy;
}

img {
  width: 200px;
  height: auto;
  padding: 5px;
}

.column p {
  font-family: sans-serif;
  background-color: #b896b8;
}

/*MEDIA QUERIES*/

@media screen and (max-width:768px) {
  .column p {
    background-color: grey;

  }
}

@media screen and (max-width:900px) and (min-width:480px){
  h1 {
    font-size: 30pt;
    color: blue;
  }
}
